.wrapper {
  padding: var(--spacing-xl);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nameWrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

.iconCircle {
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  border-radius: var(--radius-full);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-md);
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-200);
}

.icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}

.iconButton {
  background: none;
  border: none;
  color: var(--color-neutral-500);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  flex-shrink: 0;

  &:hover {
    color: var(--color-neutral-300);
  }
}

.addButton {
  max-width: 200px;
}

.emptyState {
  text-align: center;
  color: var(--color-neutral-400);
  padding: var(--spacing-lg);
}

@media (max-width: 768px) {
  .desktopOnly {
    display: none;
  }
  .iconButton svg {
    width: 30px;
    height: 30px;
  }

  .nameWrapper {
    gap: var(--spacing-md);
  }

  .iconCircle {
    height: 56px;
    width: 56px;
  }

  .icon {
    height: 36px;
    width: 36px;
  }
}
