.wrapper {
  padding: var(--spacing-xl);
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}

.iconButton {
  background: none;
  border: none;
  color: var(--color-neutral-500);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);

  &:hover {
    color: var(--color-neutral-300);
  }
}

.addButton {
  max-width: 200px;
}

.emptyState {
  text-align: center;
  color: var(--color-neutral-400);
  padding: var(--spacing-lg);
}

.grid {
  display: none;
}

@media (max-width: 768px) {
  .desktopOnly {
    display: none;
  }
  .iconButton svg {
    width: 30px;
    height: 30px;
  }

  .grid {
    display: grid;
  }

  .table {
    display: none;
  }
}
