.mobileBar {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.mobileButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-md);
  max-width: 100px;
}

.wrapper {
  display: flex;
  background-color: var(--color-neutral-100);
  border-radius: var(--radius-full);
  align-items: center;
  gap: var(--spacing-xl);
  padding: var(--spacing-sm) var(--spacing-md);
}

.viewToggle {
  display: flex;
  background-color: var(--color-neutral-200);
  border-radius: var(--radius-full);
  padding: var(--spacing-xs);
  box-shadow: var(--shadow-inset-sm);

  &:hover {
    outline: 2px solid var(--color-pink-200);
    outline-offset: -1px;
  }
}

.toggleOption {
  border: none;
  font-size: var(--font-size-sm);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  background: none;
  padding: var(--spacing-sm);
  cursor: pointer;
  color: var(--color-neutral-500);
  border-radius: var(--radius-full);

  &.active {
    background-color: var(--color-neutral-50);
    box-shadow: var(--shadow-sm);
  }
}

.selectWrapper {
  background-color: var(--color-neutral-50);
  border: 1px solid var(--color-neutral-300);
  border-radius: var(--radius-full);
  position: relative;
}

.selectIcon {
  position: absolute;
  transform: translateY(-50%);
  left: var(--spacing-md);
  top: 50%;
}

.select {
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: var(--radius-full);
  padding-block: var(--spacing-sm);
  padding-left: calc(var(--spacing-md) + 25px);
  font-size: var(--font-size-sm);
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='%23888' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right var(--spacing-md) center;
  padding-right: var(--spacing-2xl);
  color: var(--color-neutral-500);

  &:hover {
    outline: 2px solid var(--color-pink-200);
    outline-offset: -1px;
  }

  &:focus {
    outline: 2px solid var(--color-pink-400);
    outline-offset: -1px;
  }
}

.button {
  border: 1px solid var(--color-neutral-300);
  font-size: var(--font-size-sm);
  background-color: var(--color-neutral-50);
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
  color: var(--color-neutral-500);
  border-radius: var(--radius-full);

  &.active {
    background-color: var(--color-neutral-200);
    box-shadow: var(--shadow-inset-sm);
  }

  &:hover {
    outline: 2px solid var(--color-pink-200);
    outline-offset: -1px;
  }

  &:active {
    box-shadow: var(--shadow-inset-sm);
  }
}

.clearButton {
  margin-left: auto;
}

@media (max-width: 768px) {
  .select {
    font-size: var(--font-size-md);
    padding-block: var(--spacing-md);
  }
}
