.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xl);
}

@media (max-width: 768px) {
  .modal {
    align-items: center;
    gap: var(--spacing-xl);
  }
}
