.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-neutral-200);
  background-color: var(--color-background);
  padding: var(--spacing-lg) var(--spacing-xl);
}

.logoImage {
  height: 55px;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
}

.userWrapper {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
}

.trigger {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  cursor: pointer;
  color: var(--color-primary);

  &:hover {
    color: var(--color-orange-400);
  }
}

.mobileOnly {
  display: none;
}

@media (max-width: 768px) {
  .logoImage {
    height: 45px;
  }
  .mobileOnly {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 55px;
  }
  .desktopOnly {
    display: none;
  }

  .loginButton {
    height: 40px;
  }
}
